# EmailJS credentials (https://www.emailjs.com/)
# Create a free account, set up a service and template, then fill in the values below
VITE_EMAILJS_SERVICE_ID=service_o1emxvf
VITE_EMAILJS_TEMPLATE_ID=template_u1f0ivj
VITE_EMAILJS_PUBLIC_KEY=LBfRmoEqB-WgzpYjS
