# EmailJS credentials (https://www.emailjs.com/)
# Create a free account, set up a service and template, then fill in the values below
VITE_EMAILJS_SERVICE_ID=service_o1emxvf
VITE_EMAILJS_TEMPLATE_ID=your_template_id_here
VITE_EMAILJS_PUBLIC_KEY=your_public_key_here
